@model Tarefas.Web.Models.TarefaViewModel

<form class ="row g-3" asp-action="Create">


    <input type= "submit" class="btn btn-primary"/> <a class="btn btn-secondary" asp-controller="Tarefa" asp-action="Index">Volta</a>

    <div class="col-12">
        <div class="form-group">
        <label asp-for="Titulo">@Html.DisplayNameFor(model => model.Titulo)</label>
        <input asp-for="Titulo" class="form-control" disabled />
    </div>

    <div class="form-group">
        <label asp-for="Descricao">@Html.DisplayNameFor(model => model.Descricao)</label>
        <input asp-for="Descricao" class="form-control" disabled />
    </div>

    <div class="form-group">
            <input type="checkbox" asp-for="Concluida"/>
            <label asp-for="Concluida">@Html.DisplayNameFor(model => model.Concluida) </label>
    </div>

    </div>

    <form>
        <h3>Titulo da pagina</h3>
    </form>
        
    <input type="submit" class="btn btn-primary" />
    
        
</form>